<div class="container">
  <app-nav></app-nav>
<p>home works!</p>
<!-- <p>{{}}</p> -->
<!-- <span *ngIf="this.timeTracker.getElapsedTime(homet) as elapsed">
    {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
  </span> -->
  <!-- <input [(ngModel)]="newId" />
<button (click)="addEntry()">Add</button> -->
  <!-- <table>
    <tbody>
  <tr *ngFor="let entry of homet">
    <td>{{entry.id}}</td>
    <td>
      <span *ngIf="hgetElapsedTime(entry) as elapsed">
        {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
      </span>
    </td>
  </tr>
 
</tbody>
</table> -->
<app-timer newId="{{newId}}" ></app-timer>
</div>